NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_SIRONIC_PHONE=
NEXT_PUBLIC_GA_ID=
SIROVED_ADMIN_EMAIL=
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=

# Opcionális: megkeresések mentése MongoDB-be (ha üres, nem ment)
MONGODB_URI=
MONGODB_DB=sirosoft
